.Wrapper{
    width: 1200px;
    margin: 0 auto;
}
.Header{
    width: 1046px;
    height: 64px;
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 122px;
    display: flex;
    padding: 0;
    font-family: 'Nunito';
    align-items: center; 
}
a{
    cursor: pointer;
    text-decoration: none;  
    color: #612999;
}
h1{
    margin: 0px;
    padding: 0px;
    display: block;
    line-height: 2;
    font-size: 16px;
}
.WebIcone{
    margin-right: 135px;
    display: flex;
    align-items: center;
}
.WebIcone img{
      width: 64px;
      height: 64px;
}
.WebIcone h1{
      font-size: 24px;
      letter-spacing: 6px;  
      color: #3E3F43;
}
.bold{
    font-weight: 700;
}
nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 62px;
      font-size: 30px;
      letter-spacing: 0px;
}
nav a:hover {
    font-weight: 700;
}
main{
    padding-bottom: 287px;    
}
footer {
      position: fixed;
      bottom: 0;
      width: 1200px;
      height: 287px;
      background-color: #EFECFF;
      color: #333333;
}
.links {
      display: flex;
      padding-top: 32px;
      width: 1200px;
      height: 126px;
}
.three-links1 {
      margin-left: 32px;
      margin-right: 150px;
      width: 126px;
      height: 126px;
      font-family: 'Nunito';
}
.three-links1 a {
      margin: 0px;
      padding: 0px;
      display: block;
      line-height: 2;
      font-size: 16px;
}
.three-links1 h1 {
        font-size: 18px;
}
.three-links2 {
      width: 126px;
      height: 126px;
      font-family: 'Nunito';
}
.three-links2 a{
      margin: 0px;
      padding: 0px;
      display: block;
      line-height: 2;
      font-size: 16px;
}
.three-links2 h1 {
      margin: 0px;
      padding: 0px;
      display: block;
      line-height: 2;
      font-size: 18px;
      font-weight: bold;
}
.links a{
      color: #333333;
      font-weight: normal;
}
.icons{
      margin-top: 24px;
      margin-bottom: 16px;
}
.icons a img{
      margin-left: 24px;
}
.icons p{
      margin: 0;
}
.Copyright h1{
      font-size: 16px;
      font-weight: normal;
      margin-left: 24px;
      font-family: 'Nunito';
}
.three-img{
      width: 1052px;
      height: 300px;
      display: flex;
      margin-top: 32px;
      margin-left: 32px;
      gap: 32px;
}
.three-img img{
      width: 300px;
      height: 300px;
      border: 3px solid purple;
}
.list-iphone-color ul{
      padding: 0px;
}
.list-iphone-color ul li{
      list-style: none;
      padding: 0;
      font-size: 30px;
      letter-spacing: 0px;
      font-family: 'Nunito';
      display: flex;
      margin-top: 32px;
      align-items: center;
}
.roket-elipse{
      width: 82px;
      height: 82px;
      background-color: #612999;
      border-radius: 46.5px;
      margin-right: 16px;
}
.roket-elipse img{
      margin-top: 20px;
      margin-left: 26px;
}
.list-iphone-color{
      width: 346px;
      height: 448px;
      margin-top: 32px;
      margin-left: 32px;
}
.list-iphone-color h1{
      margin: 0px;
      padding: 0px;
      font-size: 40px;
      line-height:40px; 
      font-family: 'Rubik';
      font-weight: 500;
      color:#612999;
      letter-spacing: 0px;
}
.list-iphone-color h2{
      margin: 0px;
      padding: 0px;
      font-size: 24px;
      line-height:14px; 
      font-family: 'Rubik';
      font-weight: 400;
      color:#000000;
      letter-spacing: 0px;
}
.choose-container{
      width: 1136px;
      height: 575px;
      margin-bottom: 198px;
      margin-left: 32px;
}
.choose-container h1{
      margin: 0px;
      padding: 0px;
      font-size: 40px;
      line-height:40px; 
      font-family: 'Rubik';
      font-weight: 500;
      color:#612999;
      letter-spacing: 0px;
}
.choose-box{
      width: 1136px;
      height: 503px;
      margin-top: 32px;
      background-color: #EFECFF;
      display: flex;
}
.choose-box h2{
      color: #612999;
      font-size: 50px;
}
.pink-iphone{
      margin-left: 32px;
}
.pink-iphone img{
      width: 60px;
      height: 60px;
      border: 3px solid purple;
      margin-left: 60px;
}
      
      
 
    
  