
.Wrapper{
  width: 1200px;
  margin: 0 auto;
}
.Header{
  width: 1046px;
  height: 64px;
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  padding: 0;
  align-items: center;
}
.WebIcone{
  width: 252px;
  height: 64px;
  margin-right: 135px;
  display: flex;
  align-items: center;
}

.WebIcone h1{
    font-size: 24px;
    letter-spacing: 6px;  
    font-family: 'Nunito';
    color: #3E3F43;

}
.WebIcone img{
  width: 64px;
  height: 64px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 62px;
    font-size: 30px;
    letter-spacing: 0px;
    font-family: 'Nunito';
}
header nav a {
  color: #612999;
  text-decoration: none;  
}
.bold{
  font-weight: 700;
}
nav a:hover {
  color: #a067d9;
}
.advertising {
  width: 1200px;
  height: 797px;
  background-image: url("../image/background-cellcom.png");
  background-repeat: no-repeat;
  margin: 0;
  color: #612999;
}
.FontAdvertising{
  width: 448px;
  height: 230px;
  margin-left: 32px;
  margin-top: 0px;
  margin-bottom: 0;
  margin-right: 0;
}
.FontAdvertising h1{
  width: 448px;
  height: 131px;
  margin: 0px;
  margin-left: 4px; 
  padding: 0px;
  font-size: 96px;
  line-height: 131px; 
  font-family: 'Nunito';
  font-weight: 800;
  color:#612999;
  }
  .FontAdvertising h2{
    font-size: 24px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    color: #000000; 
    font-family: 'Nunito';  
  }
  main{
    padding-bottom: 287px;    
  }
  main p{
    margin: 0;
    font-weight: 400;
    font-family: 'Nunito';
  }
 
  footer {
    position: fixed;
    bottom: 0;
    width: 1200px;
    height: 287px;
    background-color: #EFECFF;
    color: #333333;
  }
  .links {
    display: flex;
    padding-top: 32px;
    width: 1200px;
    height: 126px;
  }
  .three-links1 {
    margin-left: 32px;
    margin-right: 150px;
    width: 126px;
    height: 126px;
    font-family: 'Nunito';

  }
  .three-links1 a, h1 {
    margin: 0px;
    padding: 0px;
    display: block;
    line-height: 2;
    font-size: 16px;

    }
    .three-links1 h1 {
      font-size: 18px;
      }
  .three-links2 {
    width: 126px;
    height: 126px;
    font-family: 'Nunito';
  }
  .three-links2 a{
    margin: 0px;
    padding: 0px;
    display: block;
    line-height: 2;
    font-size: 16px;
  }
  .three-links2 h1 {
    margin: 0px;
    padding: 0px;
    display: block;
    line-height: 2;
    font-size: 18px;
    font-weight: bold;
    }
  .links a{
    color: #333333;
    text-decoration: none;
    font-weight: normal;

  }
  .icons{
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .icons a img{
    margin-left: 24px;
    
  }
  
  .icons p{
    margin: 0;
  }
  .Copyright h1{
    font-size: 16px;
    font-weight: normal;
    margin-left: 24px;
    font-family: 'Nunito';

  }
  .About{
    width: 1136px;
    height: 382px;
    margin-top: 32px;
    margin-left: 32px;
  }
  .About-title{
    margin: 0px;
    padding: 0px;
    }
.About-title h1{
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  line-height: 40px;
  color: #612999;
  font-weight: 500;
  font-family: 'Rubik';

}
.About-content{
  margin-top: 32px;
}
.About-content h2{
  font-size: 20px;
  font-weight: normal;
  font-family: 'Rubik';
  font-weight: 400;
}
.Products{
  width: 784px;
  margin-bottom: 246px;
}
.Title-Products{
  font-size: 40px;
  color: #612999;
  font-family: 'Rubik';
  margin-top: 32px;
  margin-left: 32px;
  font-weight: 500;
}
.Items-Products{
  width: 784px;
  height: auto;
  margin-left: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  column-gap: 32px;
  margin-bottom: 246px;
  
}
.Product{
  background-color: #EFECFF;
  width: 376px;
  height: 496px;
  border-radius: 38px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  position: relative;

}
.Product-display-iphones{
  background-image: url("../image/iphones.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 376px;
  height: 276px;
  border-radius: 38px;
  margin: 0px;
  padding: 0px;
}

.Product h1{
  font-family: 'Abel';
  font-size: 30px;
  padding: 0px;
  color: #000000;
  margin-left: 32px;
  font-weight: normal;
}
.Product h2{
  font-family: 'Abel';
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  color: #000000;
  margin-left: 32px;
  font-weight: normal;
}


.Product-display-galaxy{
  background-image: url("../image/galaxy.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 376px;
  height: 276px;
  border-radius: 38px;
  margin: 0px;
  padding: 0px;
}


.Product-display-computer{
  background-image: url("../image/computer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 376px;
  height: 276px;
  border-radius: 38px;
  margin: 0px;
  padding: 0px;
}

.Product-display-TV{
    background-image: url("../image/TV.jpeg");
    background-repeat: no-repeat;
  background-size: cover;
  width: 376px;
  height: 276px;
  border-radius: 38px;
  margin: 0px;
  padding: 0px;
}
.elipse-heart{
  width: 47px;
  height: 47px;
  margin-left: 287px;
  margin-top: 35px;
  background-image: url("../image/Ellipse-heart.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.elipse-heart img{
  margin-left: 12px;
  margin-top: 14px;
}
.price-line{
  display: flex;
  width: 376px;
  height: 45px;
  position: absolute;
  bottom: 0;
  margin-bottom: 36px;
  margin-left: 32px;
  align-items: center; 
}
.elipse-cart{
  width: 63px;
  height: 63px;
  background-image: url("../image/Ellipse-cart.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.elipse-cart img{
  margin-left: 16px;
  margin-top: 14px;
}
.price-line h3{
  font-family: 'Abel';
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  color: #612999;
  font-weight: normal;
  margin-right: 94px;
  width: 136px;
  height: 45px
}

